<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Department of Molecular Ecology</li>
    <li>Max-Planck-Institute for Marine Microbiology</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Celsiusstraße 1, 28359 Bremen, Germany</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+49 421 2028 9700</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:iwilkie@mpi-bremen.de">iwilkie@mpi-bremen.de</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://www.mpi-bremen.de/en/Isabella-Maria-Wilkie.html">mpi-bremen.de</a></li>    
  </ul>
</div>
